/* --------- Responsive Breakpoints --------- */
@media (max-width: 851px) {
	.hero-content {
		text-align: center;
	}
	input {
		width: 15rem;
	}
}

@media (max-width: 520px) {
	h1 {
		font-size: 5rem;
	}
	p {
		font-size: 1.5rem;
	}
}

@media (max-width: 434px) {
	h1 {
		font-size: 4rem;
	}
	p {
		font-size: 1.25rem;
	}
}

/* --------- Navigation Links Breakpoints --------- */
@media (max-width: 1325px) {
	li:nth-child(6) {
		display: none;
	}
}

@media (max-width: 1136px) {
	li:nth-child(5) {
		display: none;
	}
}

@media (max-width: 994px) {
	li:nth-child(4) {
		display: none;
	}
}

@media (max-width: 777px) {
	li:nth-child(3) {
		display: none;
	}
}

@media (max-width: 687px) {
	li {
		display: none;
	}
}

/* If a device supports hover, make hover animations. */
@media (hover: hover) {
	.button:hover {
		transform: scale(1.2);
	}
	.button:active {
		transform: scale(0.95);
	}
	.flag:hover {
		transform: scale(1.1);
	}
	.flag:active {
		transform: scale(0.95);
	}
	a:hover {
		color: var(--accent-color);
		transition: 0.3s;
	}
}

/* Removes the picture for smaller screen. */
@media (max-width: 1100px) {
	.hero-picture {
		display: none;
	}
}
