:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--accent-color: #d7af0f;
	--background-color: #050505;
	--font: "Roboto";
}

/* --------- General Elements Section --------- */
*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background-color);
	color: var(--secondary-color);
	font-family: var(--font), sans-serif;
	padding: 0 10vw;
}

body::-webkit-scrollbar {
	display: none;
}

span {
	color: var(--accent-color);
}

/* --------- General Classes Section --------- */
.hero-section {
	height: 100vh;
}

.button {
	background-color: var(--accent-color);
	border: none;
	border-radius: 1.5rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	height: 3.125rem;
	transition: transform 0.2s ease;
	width: 9.375rem;
}

.scroll-top-button {
	background-color: var(--accent-color);
	border: none;
	border-radius: 50%;
	bottom: 1rem;
	cursor: pointer;
	height: 50px;
	position: fixed;
	right: 1rem;
	transition: transform 0.2s ease;
	width: 50px;
}

.scroll-top-icon {
	color: var(--primary-color);
	font-size: 1.5rem;
}

.button:active, .flag:active, .scroll-top-button:active {
	transform: scale(0.80);
}

.continent {
	border-bottom: 1px solid var(--accent-color);
	color: var(--accent-color);
	font-size: 1.5rem;
	margin-top: 3rem;
	text-align: center;
}

.hide {
	display: none;
}

/* --------- Header Styling Section --------- */
header {
	display: grid;
	height: 15vh;
}

.header-div {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

li {
	display: inline-block;
	font-weight: bold;
	padding: 1vh 2vw;
}

a {
	color: var(--secondary-color);
	text-decoration: none;
}

/* --------- Hero-Content Styling Section --------- */
.hero-content {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding-top: 10vw;
}

h1 {
	font-size: 6rem;
}

p {
	font-size: 1.75rem;
	max-width: 715px;
}

.hero-picture {
	height: 85vh;
	left: 1065px;
	position: absolute;
	top: 140px;
}

/* --------- Search Styling Section --------- */
.search-div {
	align-items: center;
	display: flex;
	height: 15vh;
	justify-content: center;
}

label {
	display: none;
}

input {
	border: none;
	border-radius: 1.5rem;
	cursor: pointer;
	font-size: 1.25rem;
	height: 3.125rem;
	padding: 0.5rem 1.25rem;
	text-align: center;
	width: 20rem;
}

input:focus {
	outline: none;
}

/* --------- Cards Styling Section --------- */
.cards-div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 1rem;
	text-align: center;
}

.flag {
	border-radius: 1rem;
	height: 9rem;
	max-width: 300px;
	object-fit: cover;
	transition: transform 0.2s ease;
	width: 100%;
}

/* --------- Footer Styling Section --------- */
footer {
	border: 1px solid var(--accent-color);
	margin: 4rem 0;
}
